@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">A simple Bug Tracker</h1>
    <p>A bug tracker with drag and drop functionality.</p>
    <p class="text-danger">In Progress...</p>
</div>
