@page
@model BugTracker.Pages.TicketDashboard.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tickets</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tickets.ID" />
            <div class="form-group">
                <label asp-for="Tickets.TicketName" class="control-label"></label>
                <input asp-for="Tickets.TicketName" class="form-control" />
                <span asp-validation-for="Tickets.TicketName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tickets.TicketDecription" class="control-label"></label>
                <input asp-for="Tickets.TicketDecription" class="form-control" />
                <span asp-validation-for="Tickets.TicketDecription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ticket Type</label>
                <select asp-for="Tickets.TicketCategory" asp-items="@Model.TicketType" class="form-control">
                    
                </select>
                <span asp-validation-for="Tickets.TicketCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tickets.TicketOwner" class="control-label"></label>
                <input asp-for="Tickets.TicketOwner" class="form-control" />
                <span asp-validation-for="Tickets.TicketOwner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label d-block"> Ticket Activity</label>
                <select asp-for="Tickets.TicketActivity" asp-items="@Model.Activities" class="form-control">                    
                </select>
                    <span asp-validation-for="Tickets.TicketActivity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
